﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
九重葛--粉紅九重葛 小品九重葛
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	真雙子葉植物 Eudicots
目： 	石竹目 Caryophyllales
科： 	紫茉莉科 Nyctaginaceae
屬： 	九重葛屬 Bougainvillea
種： 	光葉子花 B. glabra
二名法
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	真雙子葉植物 Eudicots
目： 	石竹目 Caryophyllales
科： 	紫茉莉科 Nyctaginaceae
族： 	九重葛族 Bougainvilleeae
屬： 	九重葛屬 Bougainvillea
    小葉九重葛 B. glabra
Bougainvillea glabra
</pre><br>
<iframe width="323" height="575" src="https://www.youtube.com/embed/YeXrQeaE9w8" 
title="小品九重葛 Skizze Bougainvillea VID20240125121152" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/t78B65zKFW0" 
title="九重葛 VID20230124150913" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/xht-NqBrowg" 
title="대만 핑크 부겐빌레아 화분 台灣粉紅九重葛盆栽 VID20240202125220" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/nW7pHa-thIQ" 
title="炮竹紅 羊蹄甲  九重葛(Bougainvillea glabra) VID20231111110344" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/GG6tUEFT4PQ" 
title="白色九重葛VID20240908151950" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>
