﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
仙丹花，賣子木(唐本草)，山丹(學圃雜疏)，龍船花(嶺南采藥錄)、英丹花、買子木<<嘉祐本草>>、豔陽仙丹、三丹花、三段花、山丹花、紅繡球
<br>
<pre>
界：  植物界 Plantae
演化支：  維管束植物 Tracheophyta
演化支：  被子植物 Angiosperms
演化支：  真雙子葉植物 Eudicots
演化支：  菊類植物 Asterids
目：  龍膽目 Gentianales
科：  茜草科 Rubiaceae
屬：  仙丹花屬 Ixora
種：  仙丹花 I. chinensis
</pre>
<iframe width="315" height="560" src="https://www.youtube.com/embed/YNxC8s5l7dc" 
title="仙丹花 I. chinensis仙丹紅花VID20240910165834" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>
<iframe width="348" height="619" src="https://www.youtube.com/embed/2w8GPCJu9NA" title="Tree V 20220629 181056" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
<iframe width="320" height="459" src="https://www.youtube.com/embed/n3b19Nq3PAo" title="聚繖花序 MOV 0485" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
