﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
界：植物界 Plantae
演化支：維管束植物 Tracheophyta
演化支：被子植物 Angiosperms
演化支：真雙子葉植物 Eudicots
演化支：菊類植物 Asterids
目：龍膽目 Gentianales
科：茜草科 Rubiaceae
亞科：仙丹花亞科 Ixoroideae
族：咖啡族 Coffeeae
屬：咖啡屬 Coffea
咖啡</pre><br>
<iframe width="320" height="560" src="https://www.youtube.com/embed/0nvNk6O5xn0" 
title="咖啡  coffee VID20231216111936" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="320" height="560" src="https://www.youtube.com/embed/MuCTZjFzX6U" 
title="咖啡 種子 VID20231216111957" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/6gyVmjqD7Q4" 
title="咖啡屬 Coffea 咖啡葉 VID20240901082357" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe><br>
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/ndeykI6spLU" 
title="Champ parfumé au café 咖啡香田朧郁Coffea Flowers and leaves 
花叢葉叢 VID20240926062957" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
