﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
界：植物界 Plantae
演化支：維管束植物 Tracheophyta
演化支：被子植物 Angiosperms
演化支：真雙子葉植物 Eudicots
演化支：菊類植物 Asterids
目：茄目 Solanales
科：旋花科 Convolvulaceae
屬：番薯屬 Ipomoea
種：番薯 I. batatas
二名法
Ipomoea batatas
</pre>
地瓜葉 屋頂 toit en feuilles de patate douce<br>

<iframe width="329" height="584" src="https://www.youtube.com/embed/PjwPe4UZH0s" 
title="地瓜 葉  屋頂  toit en feuilles de patate douce VID20231028071344" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="329" height="584" 
src="https://www.youtube.com/embed/_OXYk7LkCxA" 
title="地瓜葉 sweet potato leaves VID20231007071001" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>

<iframe width="699" height="393" src="https://www.youtube.com/embed/Y3u2d3F1dQw" 
title="地瓜葉 VID20241203102033" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
