﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<pre>
時鐘花科

金寶花、午時花 種：黃時鐘花 T. ulmifolia 黃時鐘花
界：植物界 Plantae
演化支：維管束植物 Tracheophyta
演化支：被子植物 Angiosperms
演化支：真雙子葉植物 Eudicots
演化支：薔薇類植物 Rosids
目：金虎尾目 Malpighiales
科：西番蓮科 Passifloraceae
屬：時鐘花屬 Turnera
種：黃時鐘花 T. ulmifolia
二名法
Turnera ulmifolia

</pre><br>

<iframe width="320" height="560" src="https://www.youtube.com/embed/ZUtGCQ8ezhA" 
title="時鐘花科，宿根性亞灌木草本植物，株高約３０～６０公分。 VID20231108072351" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/b_5GFpe-hDY" 
title="金寶花、午時花 種：黃時鐘花 T. ulmifolia 黃時鐘花 VID20240930174319" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>


