﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
月橘<br>
<iframe width="324" height="576" src="https://www.youtube.com/embed/siHZDgQVhzc" 
title="月橘（學名：Murraya paniculata），別稱七里香 VID20231016072504  VID20231016072523" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="324" height="576" src="https://www.youtube.com/embed/KnSKZrb6MYc" 
title="月橘 Moon orange  為常綠灌木或小喬木，株高可達 1~3 公尺   VID20231006201841" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="324" height="576" src="https://www.youtube.com/embed/zEbj7jbk44g" 
title="月橘 十里香  Murraya paniculata VID20230602071040" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="324" height="576" src="https://www.youtube.com/embed/Z_jUtCyRUHE" 
title="花 台灣公園 行道樹 MOV 0058 月橘 moon orange" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="324" height="576" src="https://www.youtube.com/embed/rvlY5Ue0iYo" 
title="Муррайя, Рутовые 芸香科(Rutaceae)月橘屬(Murraya) VID20240414140727" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>