﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
朱蕉
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	單子葉植物 Monocots
目： 	天門冬目 Asparagales
科： 	天門冬科 Asparagaceae
屬： 	朱蕉屬 Cordyline
種： 	朱蕉 C. fruticosa
</pre>
<iframe width="315" height="560" src="https://www.youtube.com/embed/7TrFkgrWyeI" 
title="朱蕉 VID20240117124131" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/6G8ckqFuLIA" 
title="朱蕉（學名：Cordyline fruticosa）為天門冬科朱蕉屬下的一個種 VID20240117124140" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/YdpmYTegvf4" 
title="Hinoki et Cyprès 扁柏與龍柏 VID20240909173819" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>
