﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
杜鵑花 和 翠盧莉 茶花 含笑 深山含笑
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	真雙子葉植物 Eudicots
演化支： 	菊類植物 Asterids
目： 	杜鵑花目 Ericales
科： 	杜鵑花科 Ericaceae
亞科： 	歐石楠亞科 Ericoideae
族： 	杜鵑花族 Rhodoreae
屬： 	杜鵑花屬 Rhododendron
(L.)
</pre>
<br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/mDLAse0Rtp8" 
title="Rhododendron und Trillium 杜鵑花和翠盧莉  茶花 VID20240306074415" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1278" height="513" src="https://www.youtube.com/embed/qf7UGN4UovA" 
title="杜鵑 MOV02907" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1278" height="513" src="https://www.youtube.com/embed/jJ8xnJPa4Xs" 
title="杜鵑花 Rhododendron VID20230418071226" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1278" height="513" src="https://www.youtube.com/embed/IU-jXbZso-0" 
title="杜鵑 MOV02914" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1278" height="513" src="https://www.youtube.com/embed/2mvbkJ4wGcE" 
title="燈會 黑影 杜鵑花 CIMG7096" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/51fYg7mHMCU" 
title="elixir hibiscus azalea Roadside potted plants VID20240917150319" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>
