﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
樟樹;樟
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	木蘭類植物 Magnoliids
目： 	樟目 Laurales
科： 	樟科 Lauraceae
屬： 	樟屬 Camphora
種： 	樟樹 C. officinarum
</pre><br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/7fhB9xcaIzk" 
title="新竹、台湾 紅幹樟樹 Camphora officinarum，為常綠大喬木，高可達30公尺 新竹、台湾 VID20240118063344" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/9faO67iO6E0" 
title="台湾、新北市 紅幹樟樹 Camphora officinarum，為常綠大喬木，高可達30公尺VID20240117124653" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/0tAL5ri0jeM" 
title="樟樹 C. officinarum樟樹VID20240908155012" frameborder="0" 
llow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
