﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
樹蘭<br>
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/V2txGlgzJhM" 
title="楝科 ( Meliaceae ) 樹蘭屬(Aglaia)樹蘭 米蘭、米碎蘭、珠蘭 VID20240414140412" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="315" height="560" 
src="https://www.youtube.com/embed/gqrEP9mFqz4" 
title="樹蘭 學名：Aglaia odorata Lour. 形態描述：常綠灌木 VID20231109072334" 
frameborder="0" allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/k9Hf_dH6DA0" 
title="シュウラン 樹蘭 · 花朵細碎如粟米，因此又稱「米蘭、米碎蘭、珠蘭」 VID20231109072324" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/pBYBK08cMII" 
title="Pennée impaire opposée orange lune 奇數羽狀對生  樹蘭花、米碎蘭、珠蘭、珍珠蘭、茶蘭、秋蘭、紅柴 VID20240301104159" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>