﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
炮仗花;仗花為紫葳科炮仗花屬攀緣灌木<br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/avQDs39b0u0" 
title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1241" height="698" src="https://www.youtube.com/embed/cNIzsQh2uBM" 
title="モノプテルス蔓、爆竹花、金珊瑚、爆竹花、爆竹赤 原産地 ブラジル 花色 オレンジ 花序、集散花弁数 5枚 花の大きさ 約2.5～3.5cm VID20240212113353" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="442" height="786" src="https://www.youtube.com/embed/RejS0wjS6hg" 
title="炮仗花為紫葳科炮仗花屬攀緣灌木 петарда фламинго новый год 爆竹紅鶴新春 VID20240211164909" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
