﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
玄參科(Scrophulariaceae)炮竹紅屬(Russelia)<br>

<iframe width="320" height="560" src="https://www.youtube.com/embed/WkVdfuB2ras" 
title="炮竹花、炮仗紅 湧泉 水池造景 VID20231105112755" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="320" height="560" src="https://www.youtube.com/embed/pGQ0v6LcRMY" 
title="玄參科(Scrophulariaceae)炮竹紅屬(Russelia) VID20231105112821" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" allowfullscreen></iframe>

