﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
烏心石 木蘭科(Magnoliaceae)烏心石屬(Michelia)
<br>
<iframe width="341" height="606" src="https://www.youtube.com/embed/Cv5A_V0rnnM" 
title="烏心石 木蘭科(Magnoliaceae)烏心石屬(Michelia) VID20230903144236" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
</iframe>

<iframe width="341" height="606" src="https://www.youtube.com/embed/B4512Wznt_k" 
title="烏心石 VID20230903144352" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen></iframe>

