﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<pre>
木瓜的乳汁含木瓜蛋白酶，是製作鬆肉粉的主要成分。 
界： 	植物界 Plantae
演化支： 	維管束植物 Tracheophyta
演化支： 	被子植物 Angiosperms
演化支： 	真雙子葉植物 Eudicots
演化支： 	薔薇類植物 Rosids
目： 	十字花目 Brassicales
科： 	番木瓜科 Caricaceae
屬： 	番木瓜屬 Carica
種： 	番木瓜 C. papaya
</pre><br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/uOU_bFkpjAo" 
title="Papayablätter werden in der indonesischen Küche als木瓜葉在印尼料理中作為一種蔬菜食用番木瓜 
C. papaya木瓜VID20240906063328" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/bYio2PsmWyg" 
title="番木瓜 C. papaya La papaya enciende los petardos 木瓜放鞭炮 Papaya sets off 
firecrackers VID20231009091647" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe><br>
<iframe width="853" height="480" src="https://www.youtube.com/embed/qOGQ4zUHqbk" 
title="木瓜苗 VID20230916073509" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>

