﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
紫竹梅又叫紫鸭拓草<br>
<iframe width="770" height="433" src="https://www.youtube.com/embed/iVOiuX93R5g" 
title="фиолетовая бамбуковая слива 紫竹梅  VID20231230121855" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/OedMKEFvfj0" 
title="紫竹梅又叫紫鸭拓草，紫锦草分枝10~20公分VID20231230121907" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/euU-GOt9mCU" 
title="紫竹梅又叫紫鸭拓草，紫锦草分枝10~20公分 三片花瓣 五株花蕊  VID20231230121844" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
