﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br>
紫竹草<br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/BgQ12A1CIXA" 
title="紫花蕊  酢漿草科(Oxalidaceae)酢漿草屬(Oxalis) VID20231230121833" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/euU-GOt9mCU" 
title="紫竹梅又叫紫鸭拓草，紫锦草分枝10~20公分 三片花瓣 五株花蕊  VID20231230121844" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
