﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<pre>
台灣欒樹開花 黃金雨 Taiwan Luan tree blooms golden rain
界：  植物界 Plantae
演化支：  維管束植物 Tracheophyta
演化支：  被子植物 Angiosperms
演化支：  真雙子葉植物 Eudicots
演化支：  薔薇類植物 Rosids
目：  無患子目 Sapindales
科：  無患子科 Sapindaceae
屬：  欒樹屬 Koelreuteria
種：  秀麗欒 K. elegans
亞種：  臺灣欒樹 K. e. subsp. formosana
</pre><br>
<iframe width="315" height="560" src="https://www.youtube.com/embed/7jgfWY4dGW4" 
title="Taiwan Luan tree blooms golden rain 台灣欒樹開花 黃金雨 VID20240911092615" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
