﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<br><pre>
茶花
界 	植物界 Plantae
門(Divisio): 	被子植物門 Magnoliophyta
綱 	雙子葉植物綱 Magnoliopsida
目 	杜鵑花目 Ericales
科 	山茶科 Theaceae
屬 	山茶屬 Camellia
種 	茶花 C. japonica
種： 	山茶花 C. japonica
</pre>
<iframe width="332" height="591" src="https://www.youtube.com/embed/1LSFFKvSrh8" 
title="茶花、含笑、深山含笑、樂昌含笑 茶花 含笑 VID20231130120621" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/dHfjaHqg0vA" 
title="茶花特寫 大紅  Kamelien-Nahaufnahme leuchtend rot VID20240202123842" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/oEJKvoa21MU" 
title="Kamelien-Nahaufnahme leuchtend rot 茶花特寫 大紅  VID20240202123829" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/qqWY7-nM89k" 
title="赤い台湾椿 紅色的台灣茶花 VID20240125121210" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="323" height="575" src="https://www.youtube.com/embed/gViLl6ehiyk" 
title="Kamelie 茶花 VID20240202123942" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="315" height="560" src="https://www.youtube.com/embed/iKeT7KHevGo" 
title="茶花 尾 VID20240413173825" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
allowfullscreen></iframe>
