﻿<a href=index.html>HOME</a>&nbsp;&nbsp;
<pre>
黑板樹, 常綠大喬木. 
界：植物界 Plantae
演化支：維管束植物 Tracheophyta
演化支：被子植物 Angiosperms
演化支：真雙子葉植物 Eudicots
演化支：菊類植物 Asterids
目：龍膽目 Gentianales
科：夾竹桃科 Apocynaceae
屬：雞骨常山屬 Alstonia
種：黑板樹 A. scholaris

英文名稱：Palimara Alstonia、 Green Maple. 
學名：Alstonia scholaris (L.) R. Br. 
科別：, 夾竹桃科(Apocynaceae )黑板樹屬(Alstoni).)
</pre><br>
<iframe width="320" height="560" src="https://www.youtube.com/embed/MFh4RjXQAB8" 
title="黒板の木 VID20230917145434" frameborder="0" 
allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen></iframe>

<iframe width="320" height="560" 
src="https://www.youtube.com/embed/D15XVPgc4Fg" title="黑板樹 VID20230917145455" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" 
allowfullscreen></iframe><br>

<iframe width="315" height="560" 
src="https://www.youtube.com/embed/ousTW2GapTs" 
title="黑板樹 VID20250107152034" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
